{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h2>{% trans %}Panier{% endtrans %}</h2>
                <table class="table table-dark">

                    <thead>
                        <tr>
                            <th scope="col">{% trans %}Produit{% endtrans %}</th>
                            <th scope="col">{% trans %}Quantité{% endtrans %}</th>
                            <th scope="col">{% trans %}Prix{% endtrans %}</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for article in articles %}
                    <tr>
                        <th>{{ article.produit.nom }}</th>
                        <td>{{ article.quantite }}</td>
                        <td>{{article.produit.prix * article.quantite}} €</td>
                        <td><a href="{{ path('removePanier', {id : article.id})}}"><button class="btn btn-danger">{% trans %}Supprimer{% endtrans %}</button></a></td>
                    </tr>
                    {% endfor %}

                    <tr class="bg-primary">
                        <th>TOTAL : {{ articles|length }} {% trans %}Produits{% endtrans %}</th>
                        <td></td>
                        <td>{{montantTotal}} €</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
        </div>
    </div>
{% endblock %}
